@page
@model eStoreClient.Pages.User.IndexModel
@{
}

<a style="margin-right:10px" href="./user">user</a>
<a style="margin-right:10px" href="./logout">logout</a>
<a style="margin-right:10px" href="./home">home</a>
@if (Model.isAdmin == 1)
{
    <a style="margin-right:10px" href="./report">report</a>
}
<a style="margin-right:10px" href="./orderhistory">Order History</a>
<div class="col-md-4">
    <form method="post" asp-page-handler="AddNewOrUpdate">
        <div class="form-group">
            <input type="number" style="display: none" name="MemberId" value="@(Model.memberSelected == null ? 0:Model.memberSelected.MemberId)" class="form-control" />   
            <label for="Email">Email: </label>
            <input name="Email" value="@(Model.memberSelected == null ? "":Model.memberSelected.Email)" class="form-control" />
            <label for="CompanyName">CompanyName: </label>
            <input name="CompanyName" value="@(Model.memberSelected == null? "":Model.memberSelected.CompanyName)" class="form-control" />
            <label for="City">City: </label>
            <input name="City" value="@(Model.memberSelected == null? "":Model.memberSelected.City)" class="form-control" />
            <label for="Country">Country: </label>
            <input name="Country" value="@(Model.memberSelected == null? "":Model.memberSelected.Country)" class="form-control" />
            <label for="Password">Password: </label>
            <input name="Password" value="@(Model.memberSelected == null? "":Model.memberSelected.Password)" class="form-control" />

        </div>
        <button style="margin-top:10px" type="submit" class="btn btn-primary">Save</button>

    </form>


</div>
@if (Model.isAdmin == 1)
{
    <div class="col-md-8">
        <table class="table table-bordered text-md-center">
            <thead>
                <tr>
                    <th>MemberId</th>
                    <th>Email</th>
                    <th>CompanyName</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Password</th>
                    <!-- Thêm các tiêu đề cột khác nếu cần -->
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.listMember)
                {
                    <tr>
                        <td>@p.MemberId</td>
                        <td>@p.Email</td>
                        <td>@p.CompanyName</td>
                        <td>@p.City</td>
                        <td>@p.Country</td>
                        <td>@p.Password</td>
                        <td>
                            <form method="post" asp-page-handler="DeleteMember">
                                <input value="@p.MemberId" style="display:none" name="memberId" />
                                <button type="submit" style="margin: 5px" class="btn btn-danger">delete</button>
                            </form>

                            <form method="post" asp-page-handler="SelectedMember">
                                <input value="@p.MemberId" style="display:none" name="memberId" />
                                <button type="submit" style="margin: 5px" id="updateButton" class="btn btn-primary">edit</button>
                            </form>
                        </td>
                        <!-- Thêm dữ liệu cho bảng -->
                    </tr>

                }

            </tbody>
        </table>
    </div>

}
</div>